body {
    background-color:#deddcd;
    font:14px/21px Arial,Helvetica,sans-serif;
    margin: 0;
    min-width: 600px;
}

.cell {
    position: absolute;
    width: 160px;
    height: 160px;
}

.life, .loading {
    width: 140px;
    margin: 0 auto;
}

.life img {
    border:5px solid #fcfafa;
	-moz-box-shadow:0 3px 10px #888;
    -webkit-box-shadow:0 3px 10px #888;
    width: 130px;
    height: 130px;
}

.loading img {
    border:5px solid #fcfafa;
	-moz-box-shadow:0 3px 10px #888;
    -webkit-box-shadow:0 3px 10px #888;
    padding: 57px;
}

.crossDomainForm {
    display: none;
}

.navbar {
    min-width: 600px;
}

.title-navbar {
    margin-left: 200px;
    margin-right: 200px;
    min-width: 200px;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.title a {
    font-family: 'Norican', cursive;
    color: #cb2027;
    text-decoration: none;
}

.navbar-fixed-top .container {
    width: 100%;
}

.navbar-inner {
    min-height: 38px;
}

.navbar .nav > li > a {
    padding: 9px 10px 9px;
}

.modal-body {
    max-height: 600px;
}

.modal-body a {
    text-decoration: none;
}

.modal-footer {
    padding: 0px 15px 15px 15px;
}

.modal-footer form {
    margin: 0;
}

.modal-image {
    text-align: center;
    padding-bottom: 15px;
}

.modal-backdrop.fade.in {
    background-color: white;
    opacity: 0.95
}

/* http://stackoverflow.com/questions/9550738/bootstrap-navbar-search-icon */
.navbar-search {
    margin-top: 5px;
    margin-left: 10px;
}

.navbar-search .search-query {
    padding: 4px 9px 4px 29px;
    margin-bottom: 0px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding: 4px 9px 4px 29px;
}
